.is-invisiable{
	display: none !important;
}

.page-1-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.page-1-overlays.is-opened {
	pointer-events: auto;
}

.page-1-overlays__path:nth-of-type(1) {
	fill: #ff9b9b;
}

.page-1-overlays__path:nth-of-type(2) {
	fill: #f19872;
}

.page-1-overlays__path:nth-of-type(3) {
	fill: #e86c9a;
}
.page-1__wrap{
	position: absolute;
	top:20vh;
}
.page-1__wrap > .type2{
	opacity: 0;
}
.page-2-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.page-2-overlays.is-opened {
	pointer-events: auto;
}

.page-2-overlays__path:nth-of-type(1) {
	fill: #07d89d;
}

.page-2-overlays__path:nth-of-type(2) {
	fill: #0999db;
}

.page-2-overlays__path:nth-of-type(3) {
	fill: #0947db;
}
.page-2__wrap{
	position: absolute;
	top:20vh;
}

.page-3-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.page-3-overlays.is-opened {
	pointer-events: auto;
}

.page-3-overlays__path:nth-of-type(1) {
	fill: #ee2d29;
}

.page-3-overlays__path:nth-of-type(2) {
	fill: #f8772c;
}

.page-3-overlays__path:nth-of-type(3) {
	fill: #f8ae2c;
}
.page-3__wrap{
	position: absolute;
	top:20vh;
}
.page-4-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
}

.page-4-overlays.is-opened {
	pointer-events: auto;
}

.page-4-overlays__path:nth-of-type(1) {
	fill: #3a3d98;
}

.page-4-overlays__path:nth-of-type(2) {
	fill: #5722b9;
}

.page-4-overlays__path:nth-of-type(3) {
	fill: #6f22b9;
}
.page-4__wrap{
	position: absolute;
	top:20vh;
}



.page-1 {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.page-1__item, .page-1__back-item, .page-1__front-item {
	color: white;
	opacity: 0;
	display: block;
	margin: 0.25em 0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}
.page-1__item.is-opened, .page-1__back-item.is-opened, .page-1__front-item.is-opened {
	opacity: 1;
	pointer-events: auto;
}
.page-1-more{
	display: inline-block;
	position: absolute;
	top:90%;
	left:50%-20px;
}




.page-2 {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.page-2__item {
	color: white;
	opacity: 0;
	display: block;
	margin: 0.25em 0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}
.page-2__item.is-opened {
	opacity: 1;
	pointer-events: auto;
}
.page-2-img{
	height:60px;
	margin:0px 15px;
}
.page-2__item-box{
	margin-top:40px;
	overflow: hidden;
	position: relative;
	left:37.5%;
	display: flex;
	width:100%;
}
.page-2-img-box{
	display: inline-block;
}
.page-2-left{
	display: inline-block;
	position: absolute;
	top:60%;
	left:23vw;
}
.page-2-right{
	display: inline-block;
	position: absolute;
	top:60%;
	left:74vw;
}

.sub-page{
	width:100vw;
}
.active{
	opacity: 1;
}

.page-3 {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.page-3__item {
	color: white;
	opacity: 0;
	display: block;
	margin: 0.25em 0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}
.page-3__item.is-opened {
	opacity: 1;
	pointer-events: auto;
}
.page-4 {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.page-4__item {
	color: white;
	opacity: 0;
	display: block;
	margin: 0.25em 0;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}
.page-4__item.is-opened {
	opacity: 1;
	pointer-events: auto;
}